

.header 
{
    @extend .container;
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__logo
    {
        font-size: 1.56rem;
        font-weight: 900;
        color:$color-Black;
        text-decoration: none;
    }
}



.footer 
{
    @extend .container;
    color: $color-LightGrey;
    background-color: $color-DarkGrey;
    text-align: center;
    margin-top: auto;
    font-size: .875rem;
}


.layout 
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}