

.header 
{
    @extend .container;
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__logo
    {
        font-size: 1.56rem;
        font-weight: 900;
        color:$color-Black;
        text-decoration: none;
    }
}