.title {
    composes: heading-2 from '../../App.css';
    padding: 1.4em 0;
    margin-bottom: 0;
}


.list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.van {
    padding: 1em;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 1em;
    text-decoration: none;
    color: inherit;
}

.vanImg {
    width: 13%;
}

.vanName {
    margin-bottom: .4em;
}

.vanPrice {
    margin-top: 0;
    color: #4D4D4D;
}

